<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <httpProtocol>
            <customHeaders>
                <add name="正常" value="200" />
                <add name="已移除" value="410" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
    </system.webServer>
</configuration>
